<p>{{base}}</p>

<!-- property binding -->
<!-- <input type="text" name="" id="" [value]="firstName" class="form-control"> -->



<!-- interpolation -->
 <!-- <p>{{firstName}}</p> -->

 
 <!-- data binding -->
 <!-- <input type="text" name="" id="" [(ngModel)] = "firstName">

<p>Select result: {{selectValue}}</p>

 <select name="" id="" [(ngModel)] = "selectValue">
    <option value="" value="LA">Lakers</option>
    <option value="" value="SA">Spurs</option>
    <option value="" value="MIA">Heat</option>
 </select>
 
<p>Radio Result: {{radioVal}}</p>


<input type="radio" name="" id="" [(ngModel)] = "radioVal" value="false">

<input type="button" value="" (click)="testFunc()" value="test"> -->



