<!-- 

<div class="container">
    <button (click)="divFunction('Roles')" [ngClass]="currentComponent == 'Roles' ?  'Selected' : 'Test'">
        Roles
    </button>
    <button (click)="divFunction('Designation')"  [ngClass]="currentComponent == 'Designation' ?  'Selected' : 'Test'">
        Designation
    </button>
</div>

<div class="otherComponents">
    <div class="roles" *ngIf="currentComponent == 'Roles'">
        <app-roles></app-roles>
    </div>
    <div class="designation" *ngIf="currentComponent == 'Designation'">
        <app-designation></app-designation>
    </div>
</div> -->

<!-- <app-roles></app-roles> -->