

.container {
    .Test {
        margin-inline: 0.625rem;
        border: none;
        border-radius: 0.625rem;
        padding: 0.7rem;
        background-color: rgb(115, 64, 227);
        color: #ffff;
        cursor: pointer;
    }


    .Selected {
        margin-inline: 0.625rem;
        border: none;
        border-radius: 0.625rem;
        padding: 0.7rem;
        background-color: rgb(227, 145, 64);
        color: #ffff;
        cursor: pointer;
    }

   
}